* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

input {
  padding: 8px 10px;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}


button {
  padding: 10px 15px;
  background-color: black;
  color: whitesmoke;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  
}

/* button:hover {
  background-color: #0056b3;
} */

input:invalid {
  border-color: #dc3545;
}


input:valid {
  border-color: #28a745;
}

.input-error:invalid {
   border: 2px solid red; 
  }


a:link{
  text-decoration: none;
}
a{
  color: whitesmoke;
}

/* .phone:invalid {
  border: 2px solid red;
} */


/* .phone:invalid
{
  border: 1px solid red;
} */

/* phone:placeholder-shown {
  border: 2px solid red;
} */

/* input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
} */



/* .gender {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.terms {
  margin: 10px 0;
} */