table {
    border: 1px solid black;
    /* margin: auto; */
    
    /* border-collapse: collapse; */
}  
th{
    /* width:10%; */
    border: 1px solid black;
    text-align: center;
    /* padding: 10px; */
}

td{
   /* padding: 2px; */
    text-align: center;
    border: 1px solid black;
}

tr
{
    border: 1px solid black;
}

.del
{
    background-color: red;
}    
a:link
{
    text-decoration: none;
    
}    


button {
    background-color: #28a745;
    color: rgb(255, 255, 255);
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}    

/* Login Button */
button[type="button"] {
    background-color: #007bff;
}    

button[type="button"]:hover {
    background-color: #0056b3;
}    

